.new-list-button {
  width: 181px;
  height: 33px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  margin-right: 49px;
  display: flex;
  cursor: pointer;
  align-items: center;
}

.new-list-button .new-list-button__image {
  margin-right: 13px;
}