.header {
  max-width: 1152px;
  height: 55px;
  margin: 0 auto;
  background-color: #0067a3;
  box-sizing: border-box;
  color: #fff;
  padding: 5px 6px 5px 14px;
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto';
}

.header__intro {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 8px;
  display: flex;
}

.header__heading {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 33px;
  margin: 0;
  padding: 0;
}


.header__userMenu {
  display: flex;
  align-items: center;
}

.header__newListButton {
  width: 181px;
  height: 33px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  margin-right: 49px;
}

.header__logIn {
  display: flex;
  align-items: center;
}

.arrowDown {
  background: none;
  border: none;
  cursor: pointer;
}

.header__newListButton {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.header__newListButton img {
  margin-right: 13px;
}