.footer {
  max-width: 1152px;
  background-color: #0067a3;
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 1rem;
  line-height: 21px;
  padding: 17px 24px 17px 67px;
  box-sizing: border-box;
  margin: 0 auto;
}

.tasksInfo {
  display: flex;
}

.footer__text:first-child {
  margin-right: 36px;
}