.taskBlock {
  font-size: 1rem;
  line-height: 21px;
  font-family: 'Roboto';
  color: #000000;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  max-height: 538px;
  background: #ebecf0;
  border-radius: 10px;
  padding: 12px 0px 0px 8px;
  box-sizing: border-box;
}

.taskBlock:not(:last-of-type) {
  margin-right: 24px;
}
